

body {
    margin: 0px;
    height: 100vh;
    
    font-family: 'Raleway', sans-serif;
    /* font-family: 'Rajdhani', sans-serif; */

    background-color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url("./img/background.webp");
    background-size: cover;

}

.banner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.banner {
    background-color: rgba(0, 0, 0, 0.641);
    border: 1px;
    /* border-bottom: 10px solid black; */
    box-shadow: 6px 5px 3px rgba(102, 88, 88, 0.7);
    height: 10vh;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.container {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    text-decoration: none;
    color: white;


}
.logo img{
    height: 10vh;
}


.nav ul {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: space-between;

}

.nav ul li {
    margin-right: 10px;
}

.nav a {
    
    text-decoration: none;
    color: white;

}

.nav {
    width: 350px;
}
.nav i{
    font-size: 40px; 
    color:white;
    display: none;
}

.links:hover {

   opacity: 0.5;

}

.main-about a{
    color: rgb(246, 243, 241);
    font-weight: bold;
    font-style: italic;
}

.banner li:not(:last-child)::after {
    content: "|";
    color: white;
    margin-left: 10px;
}

.baslik {

    margin-top: 100px;

    display: flex;
    justify-content: center;
    font-size: 40px;
    color: white
}


.rahmen {

    color: white;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    text-align: left;

    margin-left: 100px;
    margin-right: 100px;
    /* margin-top: 4vh; */

}



.row {

    width: 100%;
    height: 600px;
    background-color: rgb(155, 133, 123);
    box-shadow: 6px 5px 3px rgba(102, 88, 88, 0.7);
    position: relative;
    display: flex;
    align-items: center;


}

.row p {
    margin-left: 20px;
    margin-right: 20px;
}

.row-about-contact {
    margin-top: 250px;
    width: 80%;
    height: 60vh;
    background-color: rgb(155, 133, 123,0.5);
    box-shadow: 6px 5px 3px rgba(32, 31, 31, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    


}




.card {
    width: 350px;
    height: 500px;
    /* background-color: rgb(250, 247, 247); */
    box-shadow: 6px 5px 3px rgba(102, 88, 88, 0.7);
    /* margin-left: 30px; */
    /* margin-right: 30px; */
    margin-left: auto;
    margin-right: auto;
   

}

.card img {
    width: 100px;
    height: 250px;

}

.card h3,
h4,
p {
    text-align: left;
    /* margin-top: 5px; */
    margin-left: 20px;
   
    
}
.card1{
  
    box-sizing: inherit;
    margin-left: auto;
    margin-right: auto;
}




.white {
    color: black;
    background-color: white;
    margin-left: 20px;
    margin-right: auto;
}


.main{     
    color: white;
    margin: auto;
  
   
}
.main-about{     
    color: white;
    
}
.main-about p{
     /* text-align: center; */
    font-size: 20px;
}

.main p{
    
    /* text-align: center; */
    font-size: 20px;
}
.contact{
    /* margin-top: 100px; */
    margin-left: 90px;
    margin-right: 90px;
    text-align: center;
    font-size: 20px;
}

/* -------------------------------- ABOUT ------------------------------------ */

.main-about img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
    

}

.main-about h2{
   /* text-align: center; */
    font-size: 40px;
}

/* -------------------------------- CONTACT ------------------------------------ */

table{
    
    margin: auto; /* tablo ortalandi */
    text-align: left; /* tablonun icindeki metinleri sola dayadik */
    
}

.icon{
    font-size: 40px; /* iconlarin boyutlarini ayarladik */
    
}

.label{
    font-size: 40px; /* : noktalarin boyutunu ayarladik */
    
}

table a{
    color: white; /* tablo daki linklerin yazi rengi */
    text-decoration: none;
}


.rahmen .card:hover{
    opacity: 0.9;
    
}


/* Media */

/* Telefon Boyutu */
@media screen and (max-width: 480px) {
    /* Burada gerekli CSS kurallarını tanımlayabilirsiniz */
    
    .banner li:not(:last-child)::after{
        display: none;
    }
    .banner {
        height: 15vh;
       
    }

    .logo img {
        height: 8vh;
    }

    
  
    .nav i{
        font-size: 40px; 
        color:white;
        display:flex;
        margin-left: 150px;
    }
      
      .nav i:hover{
        opacity: 0.5;
       cursor: pointer;

      }
     
    
      .nav ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        padding: 0;
        margin: 0;
        transition: all 0.3s ease;
      }
      
      .nav ul.menu-ul {
        display:flex;
      }
      
      .menu-ul li {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
      }
      
      .menu-ul a {
        color: white;
        display: block;
        padding: 10px;
      }
    

   

    .main-about img {
        margin-top: 20px;
        margin-left: 20px;
    }

    .main-about h2 {
        font-size: 20px;
        margin-left: 30px;
    }

    .main-about p {
        font-size: 15px;
        margin-left: 30px;
        
    }

   

    .main-index {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content:center;
       
    }
    .rahmen {
        
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width:100%;
        margin:auto;
    }
    
    
    .row {
        background-color: rgb(155, 133, 123,0);
        height: 500px;
        margin-bottom: 30px;
    }


    .row-about-contact {
    
      margin-left: auto;
      margin-right: auto;
        
      background-color: rgb(155, 133, 123,0.5);
     
    
    } 
    
    .card {
        
        margin-left: auto;
        margin-right: auto;
        /* height: auto; */
        
    }
    .card1 {
        
        margin-left: 40px;
        margin-right: 40px;
       
    }

    .card img {
        width: 100%;
        height: auto;
    }

    
    .baslik{
        display: none;
    }
    
}

/* Tablet Boyutu */
@media screen and (min-width: 481px) and (max-width: 1024px) {
    /* Burada gerekli CSS kurallarını tanımlayabilirsiniz */
    .banner li:not(:last-child)::after{
        display: none;
    }
    
    .banner {
        height: 15vh;
    }

    .logo img {
        height: 8vh;
    }

    .nav ul {
        flex-direction: row;
        justify-content: center;
    }

    .nav ul li {
        margin-right: 10px;
        margin-bottom: 0;
    }

    .main {
        width: 100vh;
        margin: auto;
        
    }
    .main-about {
        width: 100vh;
        margin: auto;
    }

    .main-about img {
        margin-top: 20px;
        margin-left: 20px;
    }

    .main-about h2 {
        font-size: 30px;
        margin-left: 30px;
    }

    .main-about p {
        font-size: 20px;
        margin-left: 30px;
    }

    .main-index {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content:center;
       
    }
    .rahmen {
        
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width:100%;
        margin:auto;
    }
    
    .row {
        background-color: rgb(155, 133, 123,0);
        
       
    }
    .row-about-contact {
    
        margin-left: auto;
        margin-right: auto;
          
    
      
      } 
      
    .card {
     
        margin-left: auto;
        margin-right: auto;
       
    }

    .card1 {
      
        margin-left: auto;
        margin-right: auto;
    }


    .baslik{
        display: none;
    }
   
}
